/*  ----------------------------------------------------------------------------
    Blocks
*/

/* General block styles */
.tagdiv-block-wrap {
  margin-bottom: 40px;
  position: relative;
  clear: both;
}

/* Block Titles */
.tagdiv-block-title-wrap {
  position: relative;
  .tagdiv-clearfix();
}

.tagdiv-block-title {
  float: left;
  position: relative;
  padding: 0;
  font-family: @font2;
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1;
  margin: 0 0 20px 0;

  a, span {
    display: inline-block;
    margin: 8px 0;
  }

  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 80px;
    height: 1px;
    background-color: @td_theme_color;
    .opacity(0.3);
  }
}

/* Block 1 */
.tagdiv-block-1 {
  // remove the bottom padding for latest modules
  .tagdiv-row:last-child .tagdiv-module-1 {
    /* without mobile */
    @media (min-width: @responsive_p_tablet_min) {
      padding-bottom: 0;
      margin-bottom: -3px;
    }
  }
  .tagdiv-row:last-child > div:last-child .tagdiv-module-1 {
    /* responsive portrait phone */
    @media (max-width: @responsive_p_phone_max) {
      padding-bottom: 0;
      margin-bottom: -3px;
    }
  }
}