/*  ----------------------------------------------------------------------------
    Blocks
*/

/* General block styles */
.tagdiv-block-wrap {
  margin-bottom: 40px;
  position: relative;
  clear: both;
}

/* Block Titles */
.tagdiv-block-title-wrap {
  position: relative;
  .tagdiv-clearfix();
}

.tagdiv-block-title {
  float: left;
  position: relative;
  padding: 0;
  font-family: @font2;
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1;
  margin: 0 0 20px 0;

  a, span {
    display: inline-block;
    margin: 8px 0;
  }

  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 80px;
    height: 1px;
    background-color: @tagdiv_theme_color;
    .opacity(0.3);
  }
}

/* Block 1 */
.tagdiv-block-1 {
  // remove the bottom padding for latest modules
  .tagdiv-row:last-child .tagdiv-module-1 {
    /* without mobile */
    @media (min-width: @responsive_p_tablet_min) {
      padding-bottom: 0;
      margin-bottom: -3px;
    }

    &.sticky {
      padding-bottom: 37px;
    }
  }
  .tagdiv-row:last-child > div:last-child .tagdiv-module-1 {
    /* responsive portrait phone */
    @media (max-width: @responsive_p_phone_max) {
      padding-bottom: 0;
      margin-bottom: -3px;
    }
  }
}

/* Block 2 */
.tagdiv-block-2 {
}

/* Block 3 */
.tagdiv-block-3 {
}

/* Block 4 */
.tagdiv-block-4 {

  .tagdiv-row {
    margin-left: 0;
    margin-right: 0;
  }

  .tagdiv-span6,
  .tagdiv-span4 {
    padding-left: 0 !important;
  }

  .tagdiv_block_inner {
    margin-right: -3px;
    margin-bottom: -3px;

    /* responsive portrait phone */
    @media (max-width: @responsive_p_phone_max) {
      margin-right: 0;
    }
    .tagdiv-clearfix();
  }

  .tagdiv-module-wrap {
    float: left;
    width: 50%;
    padding-right: 3px;
    margin-bottom: 3px;

    /* responsive portrait phone */
    @media (max-width: @responsive_p_phone_max) {
      margin-bottom: 2px;

      &:nth-child(odd) {
        padding-left: 0;
        padding-right: 1px;
      }
      &:nth-child(even) {
        padding-left: 1px;
        padding-right: 0;
      }
    }
  }

  /* responsive portrait phone */
  @media (max-width: @responsive_p_phone_max) {
    .tagdiv_block_inner {
      margin-left: -10px;
      margin-right: -10px;
    }

    .tagdiv-entry-title {
      font-size: 15px !important;
      line-height: 20px !important;
    }
  }

  &.tagdiv-column-1 {
    .tagdiv-module-wrap {
      /* tablet + desktop */
      @media (min-width: @responsive_p_phone_max) {
        width: 100%;
      }
    }
  }

  &.tagdiv-column-3 {
    .tagdiv-module-wrap {
      /* tablet + desktop */
      @media (min-width: @responsive_p_phone_max) {
        width: 25%;
      }

      /* tablet + desktop */
      @media (min-width: @responsive_p_tablet_min) {
        &:nth-child(4n+1) {
          clear: both;
        }

        &:nth-last-child(-n+4) {
          margin-bottom: 0;
        }
      }
    }
  }

  &.tagdiv-column-2 {
    .tagdiv-module-wrap {
      /* tablet + desktop */
      @media (min-width: @responsive_p_tablet_min) {
        &:nth-child(2n+1) {
          clear: both;
        }

        &:nth-last-child(-n+2) {
          margin-bottom: 0;
        }
      }
    }
  }
}

/* Block 5 */
.tagdiv-block-5 {
  // remove the bottom padding for latest modules
  .tagdiv-row:last-child .tagdiv-module-wrap {
    /* without mobile */
    @media (min-width: @responsive_p_tablet_min) {
      padding-bottom: 0;
      margin-bottom: 0;

      &:before {
        display: none;
      }
    }
  }
  .tagdiv-row:last-child > div:last-child .tagdiv-module-wrap {
    /* responsive portrait phone */
    @media (max-width: @responsive_p_phone_max) {
      padding-bottom: 0;
      margin-bottom: 0;

      &:before {
        display: none;
      }
    }
  }
  &.tagdiv-column-1 .tagdiv-module-wrap:last-child,
  &.tagdiv-column-2 .tagdiv-module-wrap:last-child {
    padding-bottom: 0;
    margin-bottom: 0;

    &:before {
      display: none;
    }
  }

  // column 3
  &.tagdiv-column-3 {
    .td_module_5 {
      .tagdiv-module-image {
        /* desktop */
        @media (min-width: @responsive_l_tablet_min) {
          width: 150px;
          margin-right: 20px;
        }
        /* responsive portrait tablet */
        @media (min-width: @responsive_p_tablet_min) and (max-width: @responsive_p_tablet_max) {
          width: 130px;
        }
      }

      .tagdiv-module-title {
        /* responsive portrait tablet */
        @media (min-width: @responsive_p_tablet_min) and (max-width: @responsive_p_tablet_max) {
          margin-bottom: 10px;
          font-size: 15px;
          line-height: 20px;
        }
      }

      .tagdiv-excerpt {
        display: none;
      }
    }
  }
}

/* Block 6 */
.tagdiv-block-6 {
  .tagdiv-module-1 {
    padding-bottom: 0;
  }

  &.tagdiv-column-2,
  &.tagdiv-column-3 {
    .tagdiv-module-3:last-child {
      /* responsive portrait tablet + desktop */
      @media (min-width: @responsive_p_tablet_min) {
        padding-bottom: 0;
      }
    }
  }

  &.tagdiv-column-1 {
    .tagdiv-module-1 {
      padding-bottom: 30px;
    }

    .tagdiv-span12:last-child {
      .tagdiv-module-3 {
        /* responsive portrait tablet + desktop */
        @media (min-width: @responsive_p_tablet_min) {
          padding-bottom: 0;
        }
      }
    }
  }

  /* responsive portrait phone */
  @media (max-width: @responsive_p_phone_max) {
    .tagdiv-module-1 {
      padding-bottom: 30px;
    }

    .tagdiv-span4:last-child .tagdiv-module-3:last-child,
    .tagdiv-span6:last-child .tagdiv-module-3:last-child,
    .tagdiv-span12:last-child .tagdiv-module-3:last-child {
      padding-bottom: 0;
    }
  }
}