/*  ----------------------------------------------------------------------------
    Footer
*/

/* General footer styles */
.tagdiv-footer-wrapper {
  position: relative;
  background-color: #000;
  text-align: center;
  color: #fff;

  a {
    color: #fff;

    &:hover {
      color: @td_theme_color;
    }
  }

  .widget {
    margin-top: 44px;
    text-align: left;

    select {
      border-bottom: 1px solid rgba(235, 235, 235, 0.3);
    }
  }

  .tagdiv-block-title a,
  .tagdiv-block-title span,
  .tagdiv-block-title label,
  .rss-date,
  cite {
    color: #fff;
  }

  .widget_categories li span:before {
    border-color: #fff;
  }

  .widget_recent_entries {
    .post-date {
      color: #444444;
    }
  }

  .widget_recent_comments,
  .widget_recent_entries,
  .widget_rss {
    li {
      border-bottom: 1px solid rgba(235, 235, 235, 0.3);
    }
  }

  .widget_calendar {
    table {
      th,
      td {
        border: 1px solid rgba(235, 235, 235, 0.3);
      }

      tfoot {
        td {
          border: none;
        }
      }
    }
  }

  .widget_text {
    p {
      color: #ccc;
      font-size: 12px;
    }
  }

  .rssSummary {
    color: #ccc !important;
  }

  .search-field {
    background-color: transparent;
    border-bottom: 1px solid rgba(235, 235, 235, 0.3);
  }

  .search-submit {
    color: #fff;
    border-left: 1px solid rgba(255, 255, 255, 0.3);
  }
}

.tagdiv-footer-container {
  padding: 22px 0;
}

/* Logo */
.footer-logo-wrap {
  img {
    display: inline-block;
    margin-right: auto;
    margin-left: auto;

    /* responsive portrait phone */
    @media (max-width: @responsive_p_phone_max) {
      max-width: 70%;
    }
  }
}

/* Footer description & email */
.footer-text-wrap {
  width: 80%;
  margin: 12px auto;
  padding: 8px 0;
  font-family: @font2;
  font-size: 13px;
  line-height: 21px;

  /* responsive portrait phone */
  @media (max-width: @responsive_p_phone_max) {
    width: 100%;
  }

  .footer-email-wrap {
    margin-top: 12px;

    a {
      color: @td_theme_color;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}


/*  ----------------------------------------------------------------------------
    Sub Footer
*/

/* General sub-footer styles */
.tagdiv-sub-footer-container {
  padding-top: 12px;
}

/* Menu */
.td-subfooter-menu {
  position: relative;
  margin: 0 0 15px 0;
  padding-bottom: 12px;

  li {
    position: relative !important;
    display: inline-block;
    margin-left: 0;
    padding: 0 28px;
    line-height: 18px;

    /* responsive portrait phone */
    @media (max-width: @responsive_p_phone_max) {
      padding-left: 12px;
      padding-right: 12px;
    }

    a {
      line-height: 18px;
      display: inline-block;
      font-family: @font2;
      font-size: 15px;
      font-weight: 500;
      text-transform: uppercase;

      /* responsive portrait phone */
      @media (max-width: @responsive_p_phone_max) {
        font-size: 12px;
      }
    }

    &:last-of-type {
      &:after {
        display: none;
      }
    }

    &:after {
      content: '';
      position: absolute;
      right: -3px;
      bottom: 4px;
      width: 2px;
      height: 2px;
      background-color: #fff;
      .opacity(0.26);
    }
  }

  .menu-item > a:hover,
  .current-menu-ancestor > a,
  .current-category-ancestor > a,
  .current-menu-item > a {
    color: @td_theme_color;
  }

  ul {
    display: none;
  }

  .fa {
    margin-right: 3px;
  }

  &:after {
    content: '';
    position: absolute;
    right: 0;
    left: 0;
    bottom: -1px;
    margin: 0 auto;
    width: 100%;
    height: 1px;
    background-color: #fff;
    .opacity(0.11);
  }
}

/* Copyright */
.td-sub-footer-copy {
  padding-bottom: 16px;
  font-size: 13px;
  color: #ccc;

  i {
    position: relative;
    top: 1px;
    color: @td_theme_color;
    margin: 0 5px;
  }
}