/*  ----------------------------------------------------------------------------
    Page
*/

/* page general */
.tagdiv-main-content-wrap {
  padding-top: 43px;
}

/* page title */
.tagdiv-page-title {
  display: inline-block;
  margin: 1px 0 26px 0;
  padding: 0;
  font-size: 23px;
  font-weight: 500;
  line-height: 24px;

  /* responsive portrait phone */
  @media (max-width: @responsive_p_phone_max) {
    margin-bottom: 18px;
  }

  &:after {
    display: none;
  }
}

/* pagination */
.page-nav {
  font-family: @font2;
  font-size: 13px;
  margin-bottom: 48px;
  .tagdiv-clearfix();

  /* responsive portrait phone */
  @media (max-width: @responsive_p_phone_max) {
    margin-right: auto;
    margin-left: auto;
    display: table;
    width: auto;
  }

  a,
  span {
    display: inline-block;
    margin-right: 2px;
    min-width: 35px;
    text-align: center;
    color: #666;
    line-height: 35px;
    float: left;
    padding: 0 14px;
    border-radius: 35px;
  }

  .extend {
    border: none;
  }

  i {
    font-size: 8px;
    line-height: 1;
    top: -1px;
    position: relative;
  }

  .pages {
    float: right;
    margin: 0;
    border: none;
    padding-left: 6px;

    /* responsive portrait phone */
    @media (max-width: @responsive_p_phone_max) {
      display: none;
    }
  }

  .current {
    background-color: @td_theme_color;
    color: #fff;
  }

  a {
    position: relative;

    &:before {
      content: '';
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      border: 1px solid #000;
      border-radius: 35px;
      .opacity(0);
    }

    &:hover:before {
      .opacity(0.06);
    }
  }
}

/* in page navigation */
.page .page-nav {
  margin-bottom: 30px;

  & > div {
    display: inline-block;
    background-color: @td_theme_color;
    margin-right: 2px;
    min-width: 35px;
    text-align: center;
    color: #fff;
    line-height: 35px;
    float: left;
    padding: 0 14px;
    border-radius: 35px;
  }
}

/*  ----------------------------------------------------------------------------
    Attachment page
*/

/* content */
.tagdiv-attachment-page-content {
  p {
    color: #444;
    font-size: 13px;
    font-style: italic;
    line-height: 19px;
  }
}

/* image */
.attachment-large {
  display: block;
}

/* previous image */
.tagdiv-attachment-prev {
  display: inline-block;
  margin: 10px 0 21px;

  img {
    width: 100px;
    height: 100px;
  }
}

/* next image */
.tagdiv-attachment-next {
  float: right;
  margin: 10px 0 21px;

  img {
    width: 100px;
    height: 100px;
  }
}

.tagdiv-attachment-caption {
  p {
    font-family: @font1;
    text-align: left;
    margin-bottom: 26px;
    font-size: 13px;
    font-style: italic;
    font-weight: normal;
    line-height: 17px;
    color: #444;
  }
}


/*  ----------------------------------------------------------------------------
    Search page
*/

/* the search header */
.td-search-header {
  .tagdiv-clearfix();

  .td-search-query {
    color: @td_theme_color;
  }

  input[type=search].search-field {
    width: 300px;

    @media (max-width: @responsive_p_phone_max) {
      width: 100%;
    }
  }
}

/* search template - search form wrapper */
.tagdiv-search-page-wrap {
  margin-top: -1px;
  float: right;
}

/*  ----------------------------------------------------------------------------
    404 page
*/

.tagdiv-404-head {
  padding: 17px 0;
  text-align: center;

  /* responsive */
  @media (max-width: @responsive_p_tablet_max) {
    padding: 30px 0;
  }

  .tagdiv-search-page-wrap {
    float: none;
  }

  .tagdiv-search-page-wrap {
    width: 300px;
    margin: 0 auto;

    /* responsive portrait phone */
    @media (max-width: @responsive_p_phone_max) {
      width: 100%;
    }
  }
}

.tagdiv-404-title {
  position: relative;
  padding-bottom: 17px;
  font-family: @font2;
  font-size: 25px;
  font-weight: 500;
  line-height: 24px;

  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    margin: 0 auto;
    background-color: @td_theme_color;
    width: 80px;
    height: 1px;
    .opacity(0.3);
  }
}

.tagdiv-404-sub-title {
  margin-bottom: 18px;
  font-family: @font4;
  font-size: 72px;
  font-weight: 700;
  line-height: 1;
}

.tagdiv-404-sub-sub-title {
  margin-bottom: 31px;
  font-family: @font2;
  font-size: 14px;
  line-height: 21px;
  color: #666;
}