/*  ----------------------------------------------------------------------------
    Single Post Page
*/

/* post page general */
.tagdiv-post-tags,
.tagdiv-author-box-wrap {
  position: relative;

  &:before {
    content: '';
    position: absolute;;
    top: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #000;
    .opacity(0.04);
  }
}

/* post header */
.tagdiv-post-header {
  margin-bottom: 17px;

  /* title */
  .tagdiv-entry-title {
    margin-bottom: 8px;
    padding-bottom: 8px;
    word-wrap: break-word;
    font-size: 31px;
    font-weight: 400;
    line-height: 37px;
    color: #000;
  }

  /* post's category */
  .tagdiv-category {
    list-style: none;
    font-family: @font2;
    font-size: 10px;
    margin: 0 0 12px 0;
    line-height: 1;

    li {
      display: inline-block;
      margin: 0 5px 5px 0;
      line-height: 1;
    }

    a {
      display: inline-block;
      background-color: #000;
      padding: 3px 8px;
      color: #fff;
      white-space: nowrap;

      &:hover {
        background-color: @tagdiv_theme_color;
      }
    }
  }

  /* comments */
  .tagdiv-post-comments a:before {
    display: none;
  }
}

/* post featured image */
.tagdiv-post-featured-image {
  img {
    display: block;
    margin-bottom: 21px;
  }
}

/* post content */
.tagdiv-post-content {
  padding-bottom: 24px;

  input[type=submit] {
    position: relative;
    width: 100%;
    height: 44px;
    font-family: @font2;
    font-weight: 600;
    text-transform: uppercase;
    .border-radius(3px);
    .box-shadow(0 2px 0 0 rgba(166, 166, 166, 0.75));
  }

  p {
    word-wrap: break-word;
  }

  //hide empty paragraphs
  p:empty {
    display: none;
  }

  [id*="gallery-"]{
    img {
      border-color: #fff !important;
    }
  }

  img {
    display: block;
  }
}

/* in page navigation */
.single .page-nav {
  margin-bottom: 30px;

  & > div {
    display: inline-block;
    background-color: @tagdiv_theme_color;
    margin-right: 2px;
    min-width: 35px;
    text-align: center;
    color: #fff;
    line-height: 35px;
    float: left;
    padding: 0 14px;
    border-radius: 35px;
  }
}

/* post tags */
.tagdiv-post-tags {

  .tagdiv-tags {
    display: inline-block;
    margin: 0;
    font-family: @font2;
    font-weight: 500;
    text-transform: uppercase;

    li {
      list-style: none;
      display: inline-block;
      margin: 0 5px 0 0;
    }

    a,
    span {
      display: block;
      padding: 0 10px;
      font-size: 10px;
      line-height: 20px;
      border: 1px solid #ebebeb;
      .border-radius(10px);
    }

    span {
      float: none;
      margin-right: 0;
      color: @tagdiv_theme_color;
      border-color: @tagdiv_theme_color;
    }

    a {
      color: #666;

      &:hover {
        color: @tagdiv_theme_color;
      }
    }
  }

  &:before {
    top: auto;
    bottom: 0;
  }

  > ul {
    padding-bottom: 29px;
  }
}

/* next / prev article */
.tagdiv-post-next-prev {
  position: relative;
  padding: 22px 0 24px 0;

  .tagdiv-post-prev-post,
  .tagdiv-post-next-post {
    /* responsive portrait phone */
    @media (max-width: @responsive_p_phone_max) {
      float: left;
      width: 50%;
    }
  }
}

.tagdiv-post-next-prev-content {
  display: inline-block;
  font-family: @font2;

  .tagdiv-prev-art,
  .tagdiv-next-art{
    display: block;
    margin-bottom: 4px;
    font-size: 10px;
    font-weight: 500;
    text-transform: uppercase;
    color: @tagdiv_theme_color;
  }

  a {
    display: block;
    line-height: 20px;
    font-size: 15px;
    font-weight: 500;
    color: #000;

    &:hover {
      color: @tagdiv_theme_color;
    }
  }
}

.tagdiv-post-next-post {
  text-align: right;
}

/* author box */
.tagdiv-author-box-wrap {
  padding: 22px 0 30px 0;

  .avatar {
    float: left;
    width: 60px;
    .border-radius(50%);
  }

  .tagdiv-author-meta {
    font-family: @font2;
    margin-left: 80px;
    font-size: 13px;
    margin-top: 3px;
  }
}

.tagdiv-author-name,
.tagdiv-author-url {
  a {
    color: #000;

    &:hover {
      color: @tagdiv_theme_color;
    }
  }
}

.tagdiv-author-name {
  position: relative;
  margin-bottom: 4px;
  padding-bottom: 4px;
  font-size: 15px;
  line-height: 24px;
  font-weight: 500;

  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 80px;
    height: 1px;
    background-color: @tagdiv_theme_color;
    .opacity(0.3);
  }
}

.tagdiv-author-url {
  margin-bottom: 9px;
  font-size: 11px;
  font-style: italic;
}

.tagdiv-author-description {
  font-style: italic;
  line-height: 21px;
  color: #666;
}
