// general
.td-post-tags,
.author-box-wrap {
  position: relative;

  &:before {
    content: '';
    position: absolute;;
    top: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #000;
    .opacity(0.04);
  }
}

// in post navigation
.single-post .page-nav {
  margin-bottom: 30px;

  & > div {
    display: inline-block;
    background-color: @td_theme_color;
    margin-right: 2px;
    min-width: 35px;
    text-align: center;
    color: #fff;
    line-height: 35px;
    float: left;
    padding: 0 14px;
    border-radius: 35px;
  }
}


/*  ----------------------------------------------------------------------------
    Category
*/
.td-category {
  list-style: none;
  font-family: @font2;
  font-size: 10px;
  margin: 0 0 12px 0;
  line-height: 1;

  li {
    display: inline-block;
    margin: 0 5px 5px 0;
    line-height: 1;
  }

  a {
    display: inline-block;
    background-color: #000;
    padding: 3px 8px;
    color: #fff;
    white-space: nowrap;

    &:hover {
      background-color: @td_theme_color;
    }
  }
}


/*  ----------------------------------------------------------------------------
    Post title
*/
.td-post-header {
    margin-bottom: 17px;

    .entry-title {
      margin-bottom: 8px;
      padding-bottom: 8px;
      word-wrap: break-word;
      font-size: 31px;
      font-weight: 400;
      line-height: 37px;
      color: #000;
    }

    .td-post-comments a:before {
      display: none;
    }

  }


/*  ----------------------------------------------------------------------------
    Post content
*/
.td-post-content {
  padding-bottom: 24px;

  input[type=submit] {
    position: relative;
    width: 100%;
    height: 44px;
    font-family: @font2;
    font-weight: 600;
    text-transform: uppercase;
    .border-radius(3px);
    .box-shadow(0 2px 0 0 rgba(166, 166, 166, 0.75));
  }

  //remove empty <p></p>
  p:empty {
    display: none;
  }
}


/*  ----------------------------------------------------------------------------
    Next / Prev article
*/
.td-post-next-prev {
  position: relative;
  padding: 22px 0 24px 0;
}

.td-post-next-prev-content {
  display: inline-block;
  font-family: @font2;

  span {
    display: block;
    margin-bottom: 4px;
    font-size: 10px;
    font-weight: 500;
    text-transform: uppercase;
    color: @td_theme_color;
  }

  a {
    display: block;
    line-height: 20px;
    font-size: 15px;
    font-weight: 500;
    color: #000;

    &:hover {
      color: @td_theme_color;
    }
  }
}

.td-post-next-post {
  text-align: right;
}

.td-next-prev-separator {  //this is from wp_010 - it is not used here but the core is still generating it
  display: none;
}

.td-post-prev-post,
.td-post-next-post {
  /* responsive portrait phone */
  @media (max-width: @responsive_p_phone_max) {
    width: 50%;
  }
}


/*  ----------------------------------------------------------------------------
    Author box
*/
.author-box-wrap {
  padding: 22px 0 30px 0;

  .avatar {
    float: left;
    width: 60px;
    .border-radius(50%);
  }

  .desc {
    font-family: @font2;
    margin-left: 80px;
    font-size: 13px;
    margin-top: 3px;
  }

  .td-social-icon-wrap {
    display: inline-block;

    .td-icon-font {
      color: #222;
    }
  }

  .td-author-social {
    margin: 5px 0 -12px -5px;

    a {
      color: #444;
      margin-top: 11px;

      &:hover {
        color: @td_theme_color;
      }
    }

    .td-icon-font {
      font-size: 13px;
      width: auto;
      min-width: 18px;
      height: auto;
      margin: 10px 5px;
    }
  }
}

.td-author-name,
.td-author-url {
  a {
    color: #000;

    &:hover {
      color: @td_theme_color;
    }
  }
}

.td-author-name {
  position: relative;
  margin-bottom: 4px;
  padding-bottom: 4px;
  font-size: 15px;
  line-height: 24px;
  font-weight: 500;

  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 80px;
    height: 1px;
    background-color: @td_theme_color;
    .opacity(0.3);
  }
}

.td-author-url {
  margin-bottom: 9px;
  font-size: 11px;
  font-style: italic;
}

.td-author-description {
  font-style: italic;
  line-height: 21px;
  color: #666;
}
